{% extends 'base.html.twig' %}

{% block title %}Entre
{% endblock %}

{% block body %}
	{% if app.user %}
		<div class="mb-3">
			Si desea cambiar su contraseña hágalo <a href="{{ path('app_user_cambiar_contrasena') }}">aquí</a>
		</div>
		<div class="mb-3">
			Ud. se encuentra logueado en la aplicación como
			{{ app.user.username }}, desea 
			<a href="{{ path('app_logout') }}">Salir</a>?
		</div>
	{% else %}

		<div class="card mx-auto bg-light" style="width:30%;margin-top:150px">
			<div class="card-body">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}


					<h1 class="h3 mb-3 font-weight-normal text-center">Bienvenido</h1>
					<label for="inputEmail" class="text-center">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
					<label for="inputPassword">Contraseña</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
					<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					{#
													        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
													        See https://symfony.com/doc/current/security/remember_me.html
													
													        <div class="checkbox mb-3">
													            <label>
													                <input type="checkbox" name="_remember_me"> Remember me
													            </label>
													        </div>
													    #}

					<br/>
					<button class="btn btn-lg btn-primary mx-auto" type="submit" style="width:100%">
						Entrar
					</button>
				</form>
				<hr/>
				<span>No tienes una cuenta? <a href="{{ path('app_user_crear')}}">Regístrate aquí</a></span>
			</div>
		</div>
	{% endif %}
{% endblock %}
